[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:ravindu-sh/nvim.git
[submodule "/home/ravi/.config/nvim"]
	path = /home/ravi/.config/nvim
	url = git@github.com:ravindu-sh/nvim.git
